@use '@/styles/variables.scss' as *;

.tag {
  display: inline-flex;
  align-items: center;
  padding: 6rpx 16rpx;
  border-radius: $radius-sm;
  white-space: nowrap;
}

.text {
  font-size: $font-size-xs;
  font-weight: $font-weight-medium;
}
